# Plantilla de .env para frontend

# URL de la API backend (importante para producción)
REACT_APP_API_URL=http://localhost:3000/api

# Versión (opcional)
REACT_APP_VERSION=0.1.0

# PORT=5000 npm start